<% @recipes.each do |recipe| %>
  <div class="">
    <div class="">
      <p><%= recipe.name %></p>
      <p>By: <%= recipe.user.name %></p>
    </div>
    <div class="">
      <p>Total food items:</p>
      <p>Total price</p>
    </div>
  </div>
<% end %>